
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myFicheAnimalLabel" data-translate="volBetailApp.ficheAnimal.home.createOrEditLabel">Create or edit a Fiche Animal</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.ficheAnimal.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.ficheAnimal.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="volBetailApp.ficheAnimal.dateDec" for="field_dateDec">Date Dec</label>
                <div class="input-group">
                    <input id="field_dateDec" type="text" class="form-control" name="dateDec" datetime-picker="{{dateformat}}" ng-model="vm.ficheAnimal.dateDec" is-open="vm.datePickerOpenStatus.dateDec"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateDec')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.dateDec.$invalid">
                <p class="help-block"
                    ng-show="editForm.dateDec.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.dateDec.$error.ZonedDateTimelocal" data-translate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="volBetailApp.ficheAnimal.dateNais" for="field_dateNais">Date Nais</label>
                <div class="input-group">
                    <input id="field_dateNais" type="text" class="form-control" name="dateNais" datetime-picker="{{dateformat}}" ng-model="vm.ficheAnimal.dateNais" is-open="vm.datePickerOpenStatus.dateNais"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateNais')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.dateNais.$invalid">
                <p class="help-block"
                    ng-show="editForm.dateNais.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.dateNais.$error.ZonedDateTimelocal" data-translate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="volBetailApp.ficheAnimal.lieuNais" for="field_lieuNais">Lieu Nais</label>
            <input type="text" class="form-control" name="lieuNais" id="field_lieuNais"
                    ng-model="vm.ficheAnimal.lieuNais"
                    required ng-maxlength="30"/>
            <div ng-show="editForm.lieuNais.$invalid">
                <p class="help-block"
                    ng-show="editForm.lieuNais.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.lieuNais.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="30">
                    This field cannot be longer than 30 characters.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
