
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myFicheTracabiliteLabel" data-translate="volBetailApp.ficheTracabilite.home.createOrEditLabel">Create or edit a Fiche Tracabilite</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.ficheTracabilite.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.ficheTracabilite.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="volBetailApp.ficheTracabilite.proprietaireActu" for="field_proprietaireActu">Proprietaire Actu</label>
            <input type="text" class="form-control" name="proprietaireActu" id="field_proprietaireActu"
                    ng-model="vm.ficheTracabilite.proprietaireActu"
                    required ng-maxlength="30"/>
            <div ng-show="editForm.proprietaireActu.$invalid">
                <p class="help-block"
                    ng-show="editForm.proprietaireActu.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.proprietaireActu.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="30">
                    This field cannot be longer than 30 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="volBetailApp.ficheTracabilite.dateObt" for="field_dateObt">Date Obt</label>
                <div class="input-group">
                    <input id="field_dateObt" type="text" class="form-control" name="dateObt" uib-datepicker-popup="{{dateformat}}" ng-model="vm.ficheTracabilite.dateObt" is-open="vm.datePickerOpenStatus.dateObt"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateObt')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.dateObt.$invalid">
                <p class="help-block"
                    ng-show="editForm.dateObt.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="volBetailApp.ficheTracabilite.lieuActuel" for="field_lieuActuel">Lieu Actuel</label>
            <input type="text" class="form-control" name="lieuActuel" id="field_lieuActuel"
                    ng-model="vm.ficheTracabilite.lieuActuel"
                    required ng-maxlength="30"/>
            <div ng-show="editForm.lieuActuel.$invalid">
                <p class="help-block"
                    ng-show="editForm.lieuActuel.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.lieuActuel.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="30">
                    This field cannot be longer than 30 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="volBetailApp.ficheTracabilite.dernierProp" for="field_dernierProp">Dernier Prop</label>
            <input type="text" class="form-control" name="dernierProp" id="field_dernierProp"
                    ng-model="vm.ficheTracabilite.dernierProp"
                    ng-maxlength="30"/>
            <div ng-show="editForm.dernierProp.$invalid">
                <p class="help-block"
                    ng-show="editForm.dernierProp.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="30">
                    This field cannot be longer than 30 characters.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
