<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse" full-scroll>
        <span close-off-canvas></span>
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">

                <div class="profile-element" uib-dropdown>
                    <img alt="image" class="img-circle" src="img/profile_small.jpg"/>
                    <a uib-dropdown-toggle href>
                           
                    </a>
                    
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>
            <li class="landing_link">
                <a ui-sref="landing"><i class="fa fa-star"></i> <span class="nav-label">{{ 'LANDING' | translate }}</span> <span class="label label-warning pull-right">NEW</span></a>
            </li>
        </ul>

    </div>
</nav>