<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="profile-element" uib-dropdown>
                    <i class="fa fa-user fa fa-3x"></i>
                    <a uib-dropdown-toggle href>
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">Admin</strong>
                                </span>
                                <span class="text-muted text-xs block">Betail <b class="caret"></b></span>
                            </span>
                    </a>
                    <ul uib-dropdown-menu class="animated fadeInRight m-t-xs">
                        <li><a href="" ng-click="vm.logout()" id="logout">Logout</a></li>
                        <li><a href="" ng-click="vm.logout()" id="logout">Profile</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    VB
                </div>
            </li>
             <li ui-sref-active="active">
               <a ui-sref="accessoire">
               	<i class="fa fa-weibo"></i>
               	<span class="nav-label">{{ 'Accessoires' | translate }}</span>
               </a>
            </li> 
            <li ui-sref-active="active">
               <a ui-sref="adresse">
               	<i class="fa fa-weibo"></i>
               	<span class="nav-label">{{ 'Adresses' | translate }}</span>
               </a>
            </li>  
            
            <li ui-sref-active="active">
               <a ui-sref="animal">
               	<i class="fa fa-weibo"></i>
               	<span class="nav-label">{{ 'Animaux' | translate }}</span>
               </a>
            </li>
            
             <li ui-sref-active="active">
               <a ui-sref="avis-perte">
               	<i class="fa fa-weibo"></i>
               	<span class="nav-label">{{ 'Avis De Perte' | translate }}</span>
               </a>
            </li>  
            <li ui-sref-active="active">
               <a ui-sref="betail">
               	<i class="fa fa-thermometer-2"></i>
               	<span class="nav-label">{{ 'Algorithme' | translate }}</span>
               </a>
            </li>  
             <li ui-sref-active="active">
               <a ui-sref="carnet-sante">
               	<i class="fa fa-weibo"></i>
               	<span class="nav-label">{{ 'Carnets de Sant&eacute;' | translate }}</span>
               </a>
            </li>
            
             <li ui-sref-active="active">
               <a ui-sref="commande">
               	<i class="fa fa-weibo"></i>
               	<span class="nav-label">{{ 'Commandes' | translate }}</span>
               </a>
            </li> 
               
     	  <li ui-sref-active="active">
               <a ui-sref="eleveur">
               	<i class="fa fa-weibo"></i>
               	<span class="nav-label">{{ 'Eleveurs' | translate }}</span>
               </a>
            </li>
            <li ui-sref-active="active">
               <a ui-sref="epidemie">
               	<i class="fa fa-weibo"></i>
               	<span class="nav-label">{{ 'Epid&eacute;mies' | translate }}</span>
               </a>
            </li> 
            <li ui-sref-active="active">
               <a ui-sref="facture">
               	<i class="fa fa-weibo"></i>
               	<span class="nav-label">{{ 'Factures' | translate }}</span>
               </a>
            </li>   
            <li ui-sref-active="active">
               <a ui-sref="ferme">
               	<i class="fa fa-weibo"></i>
               	<span class="nav-label">{{ 'Fermes' | translate }}</span>
               </a>
            </li> 
            <li ui-sref-active="active">
               <a ui-sref="fiche-geolocalisatio">
               	<i class="fa fa-weibo"></i>
               	<span class="nav-label">{{ 'Fiche de G&eacute;olocalisation' | translate }}</span>
               </a>
            </li>
            <li ui-sref-active="active">
               <a ui-sref="fiche-tracabilite">
               	<i class="fa fa-weibo"></i>
               	<span class="nav-label">{{ 'Fiche De Tra&ccedil;abilit&eacute;' | translate }}</span>
               </a>
            </li>    
            
             <li ui-sref-active="active">
               <a ui-sref="fiche-animal">
               	<i class="fa fa-weibo"></i>
               	<span class="nav-label">{{ 'Fiches des animaux' | translate }}</span>
               </a>
            </li>
            <li ui-sref-active="active">
               <a ui-sref="localite">
               	<i class="fa fa-weibo"></i>
               	<span class="nav-label">{{ 'Localit&eacute;s' | translate }}</span>
               </a>
            </li> 
			 
           <li ui-sref-active="active">
               <a ui-sref="maladie">
               	<i class="fa fa-weibo"></i>
               	<span class="nav-label">{{ 'Maladies' | translate }}</span>
               </a>
            </li>   
             <li ui-sref-active="active">
               <a ui-sref="message-epidemic">
               	<i class="fa fa-weibo"></i>
               	<span class="nav-label">{{ 'Messages Epid&eacute;miques' | translate }}</span>
               </a>
            </li>
            
             <li ui-sref-active="active">
               <a ui-sref="vol-message">
               	<i class="fa fa-weibo"></i>
               	<span class="nav-label">{{ 'Messages de Vol' | translate }}</span>
               </a>
            </li>       
             
            
             
            
            
            
            
             
             
             
             
             
             
             
             
            
             <li ui-sref-active="active">
               <a ui-sref="partenaire-bancaire">
               	<i class="fa fa-weibo"></i>
               	<span class="nav-label">{{ 'Partenaires Bancaires' | translate }}</span>
               </a>
            </li>  
             <li ui-sref-active="active">
               <a ui-sref="police">
               	<i class="fa fa-weibo"></i>
               	<span class="nav-label">{{ 'Polices' | translate }}</span>
               </a>
            </li> 
            
             <li ui-sref-active="active">
               <a ui-sref="race">
               	<i class="fa fa-weibo"></i>
               	<span class="nav-label">{{ 'Races' | translate }}</span>
               </a>
            </li>   
             <li ui-sref-active="active">
               <a ui-sref="service-secours">
               	<i class="fa fa-weibo"></i>
               	<span class="nav-label">{{ 'Services de Secours' | translate }}</span>
               </a>
            </li>   
             <li ui-sref-active="active">
               <a ui-sref="troupeau">
               	<i class="fa fa-weibo"></i>
               	<span class="nav-label">{{ 'Troupeaux' | translate }}</span>
               </a>
            </li>  
             <li ui-sref-active="active">
               <a ui-sref="veterinaire">
               	<i class="fa fa-weibo"></i>
               	<span class="nav-label">{{ 'V&eacute;t&eacute;rinaire' | translate }}</span>
               </a>
            </li> 
                                 
            
        </ul>
    </div>
</nav>