<link href="../../../content/css/plugins/steps/jquery.steps.css"
	rel="stylesheet">
<link href="../../../content/css/plugins/iCheck/custom.css"
	rel="stylesheet">
<div class="ibox-content">
	<h2>Ajout/Modification d'une police d'assurance</h2>
	<form id="form" name="editForm" role="form" novalidate
		ng-submit="vm.save()" show-validation class="wizard-big">
		<h1>Police Assurance</h1>
		<fieldset>
			<h2>Entrer les informations suivantes:</h2>
			<div class="row">
				<div class="col-lg-12">
					<jhi-alert-error></jhi-alert-error>
					<!-- <div class="form-group hide" ng-show="vm.police.id">
						<label for="id" data-translate="global.field.id">ID</label> <input
							type="text" class="form-control" id="id" name="id"
							ng-model="vm.police.id" readonly />
					</div> -->
					<div class="form-group hide" ng-show="vm.police.id">
						<label for="id" data-translate="global.field.id">ID</label>
						<input type="text" class="form-control" id="id" name="id" ng-model="vm.police.id" readonly />
					</div>
					<div class="form-group col-lg-4">
						<label class="control-label" data-translate="mutuplexApp.police.raison" for="field_raison">
							Raison</label>
						<input type="text" class="form-control" name="raison"
							id="field_raison" ng-model="vm.police.raison" required />
						<!-- <div ng-show="editForm.raison.$invalid">
							<p class="help-block" ng-show="editForm.raison.$error.required"
								data-translate="entity.validation.required">This field is
								required.</p>
						</div> -->
					</div>
					<div class="form-group col-lg-4">
						<label class="control-label"
							data-translate="mutuplexApp.police.adresse" for="field_adresse">Adresse</label>
						<input type="text" class="form-control" name="adresse"
							id="field_adresse" ng-model="vm.police.adresse" />
					</div>
					<div class="form-group col-lg-4">
						<label class="control-label"
							data-translate="mutuplexApp.police.tel" for="field_tel">Tel</label>
						<input type="text" class="form-control" name="tel" id="field_tel"
							ng-model="vm.police.tel" required />
						<!-- <div ng-show="editForm.tel.$invalid">
							<p class="help-block" ng-show="editForm.tel.$error.required"
								data-translate="entity.validation.required">This field is
								required.</p>
						</div> -->
					</div>
					<div class="form-group col-lg-4">
						<label class="control-label"
							data-translate="mutuplexApp.police.email" for="field_email">Email</label>
						<input type="text" class="form-control" name="email"
							id="field_email" ng-model="vm.police.email" required
							ng-pattern="/^[a-zA-Z0-9]*$/" />
						<!-- <div ng-show="editForm.email.$invalid">
							<p class="help-block" ng-show="editForm.email.$error.required"
								data-translate="entity.validation.required">This field is
								required.</p>
							 <p class="help-block" ng-show="editForm.email.$error.pattern"
								data-translate="entity.validation.pattern"
								translate-value-pattern="^[a-zA-Z0-9]*$">This field should
								follow pattern "^[a-zA-Z0-9]*$".</p>
						</div>  -->
					</div>
					<div class="form-group col-lg-4">
						<label class="control-label"
							data-translate="mutuplexApp.police.interloc" for="field_interloc">Interloc</label>
						<input type="text" class="form-control" name="interloc"
							id="field_interloc" ng-model="vm.police.interloc" />
					</div>
					<div class="form-group col-lg-4">
						<label class="control-label"
							data-translate="mutuplexApp.police.dateDebut"
							for="field_dateDebut">Date Debut</label>
						<div class="input-group">
							<input id="field_dateDebut" type="text" class="form-control"
								name="dateDebut" uib-datepicker-popup="{{dateformat}}"	ng-model="vm.police.dateDebut"
								is-open="vm.datePickerOpenStatus.dateDebut" /> 
							<span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateDebut')">
									<i class="glyphicon glyphicon-calendar"></i>
								</button>
							</span>
						</div>
					</div>
					<div class="form-group col-lg-4">
						<label class="control-label"
							data-translate="mutuplexApp.police.dateFin" for="field_dateFin">Date
							Fin</label>
						<div class="input-group">
							<input id="field_dateFin" type="text" class="form-control"
								name="dateFin" uib-datepicker-popup="{{dateformat}}"
								ng-model="vm.police.dateFin"
								is-open="vm.datePickerOpenStatus.dateFin" required /> <span
								class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateFin')">
									<i class="glyphicon glyphicon-calendar"></i>
								</button>
							</span>
						</div>
						<!-- <div ng-show="editForm.dateFin.$invalid">
							<p class="help-block" ng-show="editForm.dateFin.$error.required"
								data-translate="entity.validation.required">This field is
								required.</p>
						</div> -->
					</div>
				</div>
			</div>
		</fieldset>
		<h1>Conditions de souscriptions</h1>
		<fieldset>
			<div class="row ">
				<div class="col-lg-12">
					<div class="col-sm-5 form-inline">
						<label><input name="form-field-radio" type="radio"
							ng-model="vm.police.tiers" /> <span class="lbl"> Tiers payant int&eacute;gral</span> 
						</label>
					</div>
					<div class=" col-sm-5 form-inline">
						<label> <input name="form-field-radio" type="radio" ng-model="vm.police.tiers" /> 
							<span class="lbl"> Sans Tiers payant</span>
						</label>
					</div>
					<div class="form-group col-lg-5">
						<label class="control-label" data-translate="mutuplexApp.police.formule_soins"
							for="field_formule_soins">Formule</label>
						<!-- <input type="text" class="form-control" name="formule_soins"
							id="field_formule_soins" ng-model="vm.police.formule_soins" /> -->
					</div>
					<div class="col-sm-3 form-inline">
						<label> <input name="frais" value="Frais reéls"
							type="radio" ng-model="vm.police.formule_soins" /> <span
							class="lbl"> Frais re&eacute;ls</span>
						</label>
					</div>
					<div class="col-sm-3 form-inline">
						<label> <input name="frais" value="HOGY" type="radio"
							ng-model="vm.police.formule_soins" /> <span classe="lbl">
								HOGY</span>
						</label>
					</div>

					<div class="form-group col-lg-5">
						<label class="control-label"
							data-translate="mutuplexApp.police.tpx" for="field_tpx">
							Tpx</label>
					</div>
					<div class="form-group col-lg-4">
						<input type="range" class="range" name="tpx" id="field_tpx"
							ng-model="vm.police.tpx" />
						<output name="result2"></output>
					</div>
					<!-- <div class="form-group col-lg-4">
						<label class="control-label"
							data-translate="mutuplexApp.police.activite" for="field_activite">Activite</label>
						<input type="text" class="form-control" name="activite"
							id="field_activite" ng-model="vm.police.activite" />
					</div> -->
					<div class="form-group col-lg-5">
						<label class="control-label"
							data-translate="mutuplexApp.police.complement"
							for="field_complement">Complement</label>
						<!-- <input type="text"
							class="form-control" name="complement" id="field_complement"
							ng-model="vm.police.complement" /> -->
					</div>
					<div class="form-inline col-sm-3 ">
						<label> <input name="form-field-radi" type="radio" value="oui"	ng-model="vm.police.complement" />
						  <span class="lbl" >Oui</span>
						</label>
					</div>
					<div class="form-inline col-sm-3">
						<label> <input name="form-field-radi" type="radio" ng-model="vm.police.complement" value="non" />
							 <span	class="lbl"> Non</span>
						</label>
					</div>
					<div class="form-group col-lg-5">
						<label class="control-label"
							data-translate="mutuplexApp.police.territoire"
							for="field_territoire">Territoire</label>
					</div>
					<div class="col-sm-3">
						<div class="form-inline">
							<input id="id-toggle-all" ng-model="vm.police.territoire"
								type="checkbox" class="i-checks"
								value="Senegal et Afrique Zone CIMA" /> <span class="lbl"
								id="afri"> Senegal et Afrique Zone CIMA </span>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="form-inline">
							<input ng-model="vm.police.territoire" id="id-toggle-all"
								type="checkbox" class="i-checks" value="Zone Europe" /> <span
								class="lbl"> Zone Europe </span>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="form-group col-lg-2">
							<label class="control-label"
								data-translate="mutuplexApp.police.plafond" for="field_plafond">Plafond</label>
						</div>
						<div class="col-lg-3">
							<input type="number" class="form-control" name="plafond"
								id="field_plafond" ng-model="vm.police.plafond" />
						</div>
					</div>
					<!--  <input type="text" class="form-control" name="territoire" id="field_territoire"
			                    ng-model="vm.police.territoire"
			             /> -->
				</div>
			</div>
		</fieldset>
		<h1>D&eacute;tails des garanties</h1>
		<fieldset>
			<div class="col-lg-12">
				<div class="row">
					<div class="col-lg-2">
						<span></span>
					</div>
					<div class="col-lg-2">
						<b>Taux</b>
					</div>
					<div class="col-lg-1">
						<b>Frais exposes</b>
					</div>
					<div class="col-lg-2 text-center">
						<b>Limites</b>
					</div>
					<div class="col-lg-1">
						<b>Montant/jour</b>
					</div>
					<div class="col-lg-2 text-center">
						<b>Montant/an</b>
					</div>
					<div class="col-lg-2">
						<b>Montant/2ans</b>
					</div>
				</div>
			</div>
			<hr />
			<hr />
			<div class="row">
				<div class="col-lg-12">
					<div class="col-lg-2">
						<b>Consultations m&eacute;dicales</b>
					</div>
					<div class="form-group col-lg-2 ">
						<input type="range" class="form-control" name="consultation_taux"
							id="field_consultation_taux"
							ng-model="vm.police.consultation_taux" />
					</div>
					<div class="form-group col-lg-1 text-center">
						<input type="checkbox" checked="checked" name="consultation_frais"
							id="field_consultation_frais"
							ng-model="vm.police.consultation_frais" />
					</div>
					<div class="form-group col-lg-2">
						<input type="text" class="form-control" name="consultation_limite"
							id="field_consultation_limite"
							ng-model="vm.police.consultation_limite" required />
						<div ng-show="editForm.consultation_limite.$invalid">
							<!-- <p class="help-block"
									ng-show="editForm.consultation_limite.$error.required"
									data-translate="entity.validation.required">This field is
									required.</p> -->
						</div>
					</div>
					<div class="form-group col-lg-1">
						<input type="text" class="form-control" name="consultation_jour"
							id="field_consultation_jour"
							ng-model="vm.police.consultation_jour" />
					</div>
					<div class="form-group col-lg-2">
						<input type="text" class="form-control" name="consultation_an"
							id="field_consultation_an" ng-model="vm.police.consultation_an" />
					</div>
					<div class="form-group col-lg-2">
						<input type="text" class="form-control"
							name="consultation_deux_an" id="field_consultation_deux_an"
							ng-model="vm.police.consultation_deux_an" required />
						<div ng-show="editForm.consultation_deux_an.$invalid">
							<!-- <p class="help-block"
									ng-show="editForm.consultation_deux_an.$error.required"
									data-translate="entity.validation.required">This field is
									required.</p> -->
							<!-- <p class="help-block"
									ng-show="editForm.consultation_deux_an.$error.number"
									data-translate="entity.validation.number">This field should
									be a number.</p> -->
						</div>
					</div>
					<div class="col-lg-2">
						<b>Frais pharmaceutiques</b>
					</div>
					<div class="form-group col-lg-2">
						<input type="range" class="form-control" name="pharmacie_taux"
							id="field_pharmacie_taux" ng-model="vm.police.pharmacie_taux" />
					</div>
					<div class="form-group col-lg-1 text-center">
						<input type="checkbox" name="pharmacie_frais"
							id="field_pharmacie_frais" ng-model="vm.police.pharmacie_frais" />
					</div>
					<div class="form-group col-lg-2">
						<input type="text" class="form-control" name="pharmacie_limite"
							id="field_pharmacie_limite" ng-model="vm.police.pharmacie_limite" />
					</div>
					<div class="form-group col-lg-1">
						<input type="text" class="form-control" name="pharmacie_jour"
							id="field_pharmacie_jour" ng-model="vm.police.pharmacie_jour" />
					</div>
					<div class="form-group col-lg-2">
						<input type="text" class="form-control" name="pharmacie_an"
							id="field_pharmacie_an" ng-model="vm.police.pharmacie_an" />
					</div>
					<div class="form-group col-lg-2">
						<input type="text" class="form-control" name="pharmacie_deux_an"
							id="field_pharmacie_deux_an"
							ng-model="vm.police.pharmacie_deux_an" />
					</div>
					<div class="col-lg-2">
						<b>Frais danalyse de radiologie</b>
					</div>
					<div class="form-group col-lg-2">
						<input type="range" class="form-control" name="analyse_taux"
							id="field_analyse_taux" ng-model="vm.police.analyse_taux" />
					</div>
					<div class="form-group  text-center col-lg-1">
						<input type="checkbox" name="analyse_frais"
							id="field_analyse_frais" ng-model="vm.police.analyse_frais" />
					</div>
					<div class="form-group col-lg-2">
						<input type="text" class="form-control" name="analyse_limite"
							id="field_analyse_limite" ng-model="vm.police.analyse_limite" />
					</div>
					<div class="form-group col-lg-1">
						<input type="text" class="form-control" name="analyse_jour"
							id="field_analyse_jour" ng-model="vm.police.analyse_jour" />
					</div>
					<div class="form-group col-lg-2">
						<input type="text" class="form-control" name="analyse_an"
							id="field_analyse_an" ng-model="vm.police.analyse_an" />
					</div>
					<div class="form-group col-lg-2">
						<input type="text" class="form-control" name="analyse_deux_an"
							id="field_analyse_deux_an" ng-model="vm.police.analyse_deux_an" />
					</div>
					<div class="col-lg-2">
						<b>Actes m&eacute;dicaux courants</b>
					</div>
					<div class="form-group col-lg-2">
						<input type="range" class="form-control" name="acte_taux"
							id="field_acte_taux" ng-model="vm.police.acte_taux" />
					</div>
					<div class="form-group  text-center col-lg-1">
						<input type="checkbox" name="acte_frais" id="field_acte_frais"
							ng-model="vm.police.acte_frais" />
					</div>
					<div class="form-group col-lg-2">
						<input type="text" class="form-control" name="acte_limite"
							id="field_acte_limite" ng-model="vm.police.acte_limite" />
					</div>
					<div class="form-group col-lg-1">
						<input type="text" class="form-control" name="acte_jour"
							id="field_acte_jour" ng-model="vm.police.acte_jour" />
					</div>
					<div class="form-group col-lg-2">
						<input type="text" class="form-control" name="acte_an"
							id="field_acte_an" ng-model="vm.police.acte_an" />
					</div>
					<div class="form-group col-lg-2">
						<input type="text" class="form-control" name="acte_deux_an"
							id="field_acte_deux_an" ng-model="vm.police.acte_deux_an" />
					</div>
					<div class="col-lg-12">
						<b>Hospitalisation Hopital Principal</b>
					</div>
					<div class="col-lg-12">
						<div class="space-10"></div>
					</div>
					<div class="col-lg-2 text-center">Chambre</div>
					<div class="form-group col-lg-2">
						<input type="range" class="form-control"
							name="principal_chambre_taux" id="field_principal_chambre_taux"
							ng-model="vm.police.principal_chambre_taux" />
					</div>
					<div class="form-group col-lg-1  text-center">
						<input type="checkbox" name="principal_chambre_frais"
							id="field_principal_chambre_frais"
							ng-model="vm.police.principal_chambre_frais" />
					</div>
					<div class="form-group col-lg-2">
						<input type="text" class="form-control"
							name="principal_chambre_limite"
							id="field_principal_chambre_limite"
							ng-model="vm.police.principal_chambre_limite" />
					</div>
					<div class="form-group col-lg-1">
						<input type="text" class="form-control"
							name="principal_chambre_jour" id="field_principal_chambre_jour"
							ng-model="vm.police.principal_chambre_jour" />
					</div>
					<div class="form-group col-lg-2">
						<input type="text" class="form-control"
							name="principal_chambre_an" id="field_principal_chambre_an"
							ng-model="vm.police.principal_chambre_an" />
					</div>
					<div class="form-group col-lg-2">
						<input type="text" class="form-control"
							name="principal_chambre_deux_an"
							id="field_principal_chambre_deux_an"
							ng-model="vm.police.principal_chambre_deux_an" />
					</div>
					<div class="col-lg-2">Frais de Traitements</div>
					<div class="form-group col-lg-2">
						<input type="range" class="form-control"
							name="principal_frais_taux" id="field_principal_frais_taux"
							ng-model="vm.police.principal_frais_taux" />
					</div>
					<div class="form-group col-lg-1 text-center">
						<input type="checkbox" name="principal_frais_frais"
							id="field_principal_frais_frais"
							ng-model="vm.police.principal_frais_frais" />
					</div>
					<div class="form-group col-lg-2">
						<input type="text" class="form-control"
							name="principal_frais_limite" id="field_principal_frais_limite"
							ng-model="vm.police.principal_frais_limite" />
					</div>
					<div class="form-group col-lg-1">
						<input type="text" class="form-control"
							name="principal_frais_jour" id="field_principal_frais_jour"
							ng-model="vm.police.principal_frais_jour" />
					</div>
					<div class="form-group col-lg-2">
						<input type="text" class="form-control" name="principal_frais_an"
							id="field_principal_frais_an"
							ng-model="vm.police.principal_frais_an" />
					</div>
					<div class="form-group col-lg-2">
						<input type="text" class="form-control"
							name="principal_frais_deux_an" id="field_principal_frais_deux_an"
							ng-model="vm.police.principal_frais_deux_an" />
					</div>
					<div class="col-lg-12">
						<b>Hospitalisation Cliniques priv&eacute;s</b>
					</div>
					<div class="col-lg-2">Chambre</div>
					<div class="form-group col-lg-2">
						<input type="range" class="form-control" name="prive_chambre_taux"
							id="field_prive_chambre_taux"
							ng-model="vm.police.prive_chambre_taux" />
					</div>
					<div class="form-group  text-center col-lg-1">
						<input type="checkbox" name="prive_chambre_frais"
							id="field_prive_chambre_frais"
							ng-model="vm.police.prive_chambre_frais" />
					</div>
					<div class="form-group col-lg-2">
						<input type="text" class="form-control"
							name="prive_chambre_limite" id="field_prive_chambre_limite"
							ng-model="vm.police.prive_chambre_limite" />
					</div>
					<div class="form-group col-lg-1">
						<input type="text" class="form-control" name="prive_chambre_jour"
							id="field_prive_chambre_jour"
							ng-model="vm.police.prive_chambre_jour" />
					</div>
					<div class="form-group col-lg-2">
						<input type="text" class="form-control" name="prive_chambre_an"
							id="field_prive_chambre_an" ng-model="vm.police.prive_chambre_an" />
					</div>
					<div class="form-group col-lg-2">
						<input type="text" class="form-control"
							name="prive_chambre_deux_an" id="field_prive_chambre_deux_an"
							ng-model="vm.police.prive_chambre_deux_an" />
					</div>
					<div class="col-lg-2">Frais de Traitements</div>
					<div class="form-group col-lg-2">
						<input type="range" class="form-control" name="prive_frais_taux"
							id="field_prive_frais_taux" ng-model="vm.police.prive_frais_taux" />
					</div>
					<div class="form-group col-lg-1 text-center">
						<input type="checkbox" name="prive_frais_frais"
							id="field_prive_frais_frais"
							ng-model="vm.police.prive_frais_frais" />
					</div>
					<div class="form-group col-lg-2">
						<input type="text" class="form-control" name="prive_frais_limite"
							id="field_prive_frais_limite"
							ng-model="vm.police.prive_frais_limite" />
					</div>
					<div class="form-group col-lg-1">
						<input type="text" class="form-control" name="prive_frais_jour"
							id="field_prive_frais_jour" ng-model="vm.police.prive_frais_jour" />
					</div>
					<div class="form-group col-lg-2">
						<input type="text" class="form-control" name="prive_frais_an"
							id="field_prive_frais_an" ng-model="vm.police.prive_frais_an" />
					</div>
					<div class="form-group col-lg-2">
						<input type="text" class="form-control" name="prive_frais_deux_an"
							id="field_prive_frais_deux_an"
							ng-model="vm.police.prive_frais_deux_an" />
					</div>
					<div class="col-lg-2">
						<b>Hospitalisation soins intensifs</b>
					</div>
					<div class="form-group col-lg-2">
						<input type="range" class="form-control"
							name="public_chambre_taux" id="field_public_chambre_taux"
							ng-model="vm.police.public_chambre_taux" />
					</div>
					<div class="form-group  text-center col-lg-1">
						<input type="checkbox" name="public_chambre_frais"
							id="field_public_chambre_frais"
							ng-model="vm.police.public_chambre_frais" />
					</div>
					<div class="form-group col-lg-2">
						<input type="text" class="form-control"
							name="public_chambre_limite" id="field_public_chambre_limite"
							ng-model="vm.police.public_chambre_limite" />
					</div>
					<div class="form-group col-lg-1">
						<input type="text" class="form-control" name="public_chambre_jour"
							id="field_public_chambre_jour"
							ng-model="vm.police.public_chambre_jour" />
					</div>
					<div class="form-group col-lg-2">
						<input type="text" class="form-control" name="public_chambre_an"
							id="field_public_chambre_an"
							ng-model="vm.police.public_chambre_an" />
					</div>
					<div class="form-group col-lg-2">
						<input type="text" class="form-control"
							name="public_chambre_deux_an" id="field_public_chambre_deux_an"
							ng-model="vm.police.public_chambre_deux_an" />
					</div>
					<div class="col-lg-2">
						<b>Soins dentaires</b>
					</div>
					<div class="form-group col-lg-2">
						<input type="range" class="form-control" name="public_frais_taux"
							id="field_public_frais_taux"
							ng-model="vm.police.public_frais_taux" />
					</div>
					<div class="form-group  text-center col-lg-1">
						<input type="checkbox" name="public_frais_frais"
							id="field_public_frais_frais"
							ng-model="vm.police.public_frais_frais" />
					</div>
					<div class="form-group col-lg-2">
						<input type="text" class="form-control" name="public_frais_limite"
							id="field_public_frais_limite"
							ng-model="vm.police.public_frais_limite" />
					</div>
					<div class="form-group col-lg-1">
						<input type="text" class="form-control" name="public_frais_jour"
							id="field_public_frais_jour"
							ng-model="vm.police.public_frais_jour" />
					</div>
					<div class="form-group col-lg-2">
						<input type="text" class="form-control" name="public_frais_an"
							id="field_public_frais_an" ng-model="vm.police.public_frais_an" />
					</div>
					<div class="form-group col-lg-2">
						<input type="text" class="form-control"
							name="public_frais_deux_an" id="field_public_frais_deux_an"
							ng-model="vm.police.public_frais_deux_an" />
					</div>
					<div class="col-lg-12">
						<b>Lunetterie</b>
					</div>
					<div class="col-lg-2 text-center">Verres</div>
					<div class="form-group col-lg-2">
						<input type="range" class="form-control" name="verre_taux"
							id="field_verre_taux" ng-model="vm.police.verre_taux" />
					</div>
					<div class="form-group  text-center col-lg-1">
						<input type="checkbox" name="verre_frais" id="field_verre_frais"
							ng-model="vm.police.verre_frais" />
					</div>
					<div class="form-group col-lg-2">
						<input type="text" class="form-control" name="verre_limite"
							id="field_verre_limite" ng-model="vm.police.verre_limite" />
					</div>
					<div class="form-group col-lg-1">
						<input type="text" class="form-control" name="verre_jour"
							id="field_verre_jour" ng-model="vm.police.verre_jour" />
					</div>
					<div class="form-group col-lg-2">
						<input type="text" class="form-control" name="verre_an"
							id="field_verre_an" ng-model="vm.police.verre_an" />
					</div>
					<div class="form-group col-lg-2">
						<input type="text" class="form-control" name="verre_deux_an"
							id="field_verre_deux_an" ng-model="vm.police.verre_deux_an" />
					</div>
					<div class="col-lg-2 text-center">Montures</div>
					<div class="form-group col-lg-2">
						<input type="range" class="form-control" name="monture_taux"
							id="field_monture_taux" ng-model="vm.police.monture_taux" />
					</div>
					<div class="form-group  text-center col-lg-1">
						<input type="checkbox" name="monture_frais"
							id="field_monture_frais" ng-model="vm.police.monture_frais" />
					</div>
					<div class="form-group col-lg-2">
						<input type="text" class="form-control" name="monture_limite"
							id="field_monture_limite" ng-model="vm.police.monture_limite" />
					</div>
					<div class="form-group col-lg-1">
						<input type="text" class="form-control" name="monture_jour"
							id="field_monture_jour" ng-model="vm.police.monture_jour" />
					</div>
					<div class="form-group col-lg-2">
						<input type="text" class="form-control" name="monture_an"
							id="field_monture_an" ng-model="vm.police.monture_an" />
					</div>
					<div class="form-group col-lg-2">
						<input type="text" class="form-control" name="monture_deux_an"
							id="field_monture_deux_an" ng-model="vm.police.monture_deux_an" />
					</div>
					<div class="col-lg-2">
						<b>Accouchements</b>
					</div>
					<div class="form-group col-lg-2">
						<input type="range" class="form-control" name="accouchement_taux"
							id="field_accouchement_taux"
							ng-model="vm.police.accouchement_taux" />
					</div>
					<div class="form-group  text-center col-lg-1">
						<input type="checkbox" name="accouchement_frais"
							id="field_accouchement_frais"
							ng-model="vm.police.accouchement_frais" />
					</div>
					<div class="form-group col-lg-2">
						<input type="text" class="form-control" name="accouchement_limite"
							id="field_accouchement_limite"
							ng-model="vm.police.accouchement_limite" />
					</div>
					<div class="form-group col-lg-1">
						<input type="text" class="form-control" name="accouchement_jour"
							id="field_accouchement_jour"
							ng-model="vm.police.accouchement_jour" />
					</div>
					<div class="form-group col-lg-2">
						<input type="text" class="form-control" name="accouchement_an"
							id="field_accouchement_an" ng-model="vm.police.accouchement_an" />
					</div>
					<div class="form-group col-lg-2">
						<input type="text" class="form-control"
							name="accouchement_deux_an" id="field_accouchement_deux_an"
							ng-model="vm.police.accouchement_deux_an" />
					</div>
					<div class="col-lg-12">
						<b>Accouchement chirurgical</b>
					</div>
					<div class="col-lg-2 text-center">Re&eacute;ducation</div>
					<div class="form-group col-lg-2">
						<input type="range" class="form-control" name="education_taux"
							id="field_education_taux" ng-model="vm.police.education_taux" />
					</div>
					<div class="form-group  text-center col-lg-1">
						<input type="checkbox" name="education_frais"
							id="field_education_frais" ng-model="vm.police.education_frais" />
					</div>
					<div class="form-group col-lg-2">
						<input type="text" class="form-control" name="education_limite"
							id="field_education_limite" ng-model="vm.police.education_limite" />
					</div>
					<div class="form-group col-lg-1">
						<input type="text" class="form-control" name="education_jour"
							id="field_education_jour" ng-model="vm.police.education_jour" />
					</div>
					<div class="form-group col-lg-2">
						<input type="text" class="form-control" name="education_an"
							id="field_education_an" ng-model="vm.police.education_an" />
					</div>
					<div class="form-group col-lg-2">
						<input type="text" class="form-control" name="education_deux_an"
							id="field_education_deux_an"
							ng-model="vm.police.education_deux_an" />
					</div>
					<div class="col-lg-2  text-center">S&eacute;jour</div>
					<div class="form-group col-lg-2">
						<input type="range" class="form-control" name="sejour_taux"
							id="field_sejour_taux" ng-model="vm.police.sejour_taux" />
					</div>
					<div class="form-group  text-center col-lg-1">
						<input type="checkbox" name="sejour_frais" id="field_sejour_frais"
							ng-model="vm.police.sejour_frais" />
					</div>
					<div class="form-group col-lg-2">
						<input type="text" class="form-control" name="sejour_limite"
							id="field_sejour_limite" ng-model="vm.police.sejour_limite" />
					</div>
					<div class="form-group col-lg-1">
						<input type="text" class="form-control" name="sejour_jour"
							id="field_sejour_jour" ng-model="vm.police.sejour_jour" />
					</div>
					<div class="form-group col-lg-2">
						<input type="text" class="form-control" name="sejour_an"
							id="field_sejour_an" ng-model="vm.police.sejour_an" />
					</div>
					<div class="form-group col-lg-2">
						<input type="text" class="form-control" name="sejour_deux_an"
							id="field_sejour_deux_an" ng-model="vm.police.sejour_deux_an" />
					</div>

				</div>
			</div>
		</fieldset>

		<h1>Population a assurer</h1>
		<fieldset>
			<div class="row">
				<div class="col-lg-8">
					<div class="form-group col-lg-6">
						<label class="control-label"
							data-translate="mutuplexApp.police.nbCollab" for="field_nbCollab">Nombre
							de Collaborateurs</label> <input type="number" class="form-control"
							name="nbCollab" id="field_nbCollab" ng-model="vm.police.nbCollab" />
					</div>
					<div class="form-group col-lg-6">
						<label class="control-label"
							data-translate="mutuplexApp.police.nbConjoint"
							for="field_nbConjoint">Nombre de Conjoint</label> <input
							type="number" class="form-control" name="nbConjoint"
							id="field_nbConjoint" ng-model="vm.police.nbConjoint" />
					</div>
					<div class="form-group col-lg-6">
						<label class="control-label"
							data-translate="mutuplexApp.police.nbEnfantP"
							for="field_nbEnfantP">Nombre Enfant Petit</label> <input
							type="number" class="form-control" name="nbEnfantP"
							id="field_nbEnfantP" ng-model="vm.police.nbEnfantP" />
					</div>
					<div class="form-group col-lg-6">
						<label class="control-label"
							data-translate="mutuplexApp.police.nbEnfantG"
							for="field_nbEnfantG">Nombre Enfant Grand</label> <input
							type="number" class="form-control" name="nbEnfantG"
							id="field_nbEnfantG" ng-model="vm.police.nbEnfantG" />
					</div>
					<div class="form-group col-lg-3 hide">
						<label class="control-label"
							data-translate="mutuplexApp.police.fin" for="field_fin">Fin</label>
						<input type="text" class="form-control" name="fin" id="field_fin"
							ng-model="vm.police.fin" />
					</div>
				</div>
			</div>
		</fieldset>
		<h1>R&eacute;capitulatifs</h1>
		<fieldset>
			<h2>Terms and Conditions</h2>
			<input id="acceptTerms" name="acceptTerms" type="checkbox"
				class="required"> <label for="acceptTerms">I agree
				with the Terms and Conditions.</label>
		</fieldset>
	</form>
</div>
<script>
	$(document)
			.ready(
					function() {
						$("#wizard").steps();
						$("#form")
								.steps(
										{
											bodyTag : "fieldset",
											onStepChanging : function(event,
													currentIndex, newIndex) {
												// Always allow going backward even if the current step contains invalid fields!
												if (currentIndex > newIndex) {
													return true;
												}
												// Forbid suppressing "Warning" step if the user is to young
												if (newIndex === 3
														&& Number($("#age")
																.val()) < 18) {
													return false;
												}
												var form = $(this);
												// Clean up if user went backward before
												if (currentIndex < newIndex) {
													// To remove error styles
													$(
															".body:eq("
																	+ newIndex
																	+ ") label.error",
															form).remove();
													$(
															".body:eq("
																	+ newIndex
																	+ ") .error",
															form).removeClass(
															"error");
												}

												// Disable validation on fields that are disabled or hidden.
												form.validate().settings.ignore = ":disabled,:hidden";

												// Start validation; Prevent going forward if false
												return form.valid();
											},
											onStepChanged : function(event,
													currentIndex, priorIndex) {
												// Suppress (skip) "Warning" step if the user is old enough.
												if (currentIndex === 2
														&& Number($("#age")
																.val()) >= 18) {
													$(this).steps("next");
												}

												// Suppress (skip) "Warning" user old enough and wants to the previous step.
												if (currentIndex === 2
														&& priorIndex === 3) {
													$(this).steps("previous");
												}
											},
											onFinishing : function(event,
													currentIndex) {
												var form = $(this);

												// Disable validation on fields that are disabled.
												// At this point it's recommended to do an overall check (monly disabled fields)
												form.validate().settings.ignore = ":disabled";

												// Start validation; Prevent form submission if false
												return form.valid();
											},
											onFinished : function(event,
													currentIndex) {
												var form = $(this);

												form.submit();
											}
										}).validate({
									errorPlacement : function(error, element) {
										element.before(error);
									}
								});
					});
</script>

<script src="../../../content/js/plugins/pace/pace.min.js"></script>
<script src="../../../content/js/inspinia.js"></script>

<!-- Steps -->
<script src="../../../content/js/plugins/steps/jquery.steps.min.js"></script>
<script src="../../../content/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<!-- Jquery Validate -->
<script
	src="../../../content/js/plugins/validate/jquery.validate.min.js"></script>
<script
	src="../../../content/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script type="text/javascript">
	$(function() {
		$('.range').next().text('50'); // Valeur par défaut
		$('.range').on('input', function() {
			var $set = $(this).val();
			$(this).next().text($set);
		});
	});
</script>
