
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myAnimalLabel" data-translate="volBetailApp.animal.home.createOrEditLabel">Create or edit a Animal</h4>
    </div>
    <div class="modal-body">
    <div class="row">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.animal.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.animal.id" readonly />
        </div>
        <div class="form-group col-md-4">
            <span style="color:red;">*</span>
            <label class="control-label" data-translate="volBetailApp.animal.numero" for="field_numero">Numero</label>
            <input type="text" class="form-control" name="numero" id="field_numero"
                    ng-model="vm.animal.numero"
                    />
            <div ng-show="editForm.numero.$invalid">
                <p class="help-block"
                    ng-show="editForm.numero.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group col-md-4">
            <label class="control-label" data-translate="volBetailApp.animal.couleurRobe" for="field_couleurRobe">Couleur Robe</label>
            <input type="text" class="form-control" name="couleurRobe" id="field_couleurRobe"
                    ng-model="vm.animal.couleurRobe"
                    ng-maxlength="15"/>
            <div ng-show="editForm.couleurRobe.$invalid">
                <p class="help-block"
                    ng-show="editForm.couleurRobe.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="15">
                    This field cannot be longer than 15 characters.
                </p>
            </div>
        </div>
<!--         <div class="form-group col-md-4"> -->
<!--             <label class="control-label" data-translate="volBetailApp.animal.sexe" for="field_sexe">Sexe</label> -->
<!--             <select class="form-control" name="sexe" ng-model="vm.animal.sexe" id="field_sexe"> -->
<!--                 <option value="M" data-translate="volBetailApp.Sexe.M">M</option> -->
<!--                 <option value="F" data-translate="volBetailApp.Sexe.F">F</option> -->
<!--             </select> -->
<!--         </div> -->

        <div class="form-group col-md-4">
            <label class="control-label" data-translate="volBetailApp.animal.taille" for="field_taille">Taille</label>
            <input type="number" class="form-control" name="taille" id="field_taille"
                    ng-model="vm.animal.taille"
                    />
        </div>
        <div class="form-group col-md-4">
            <label class="control-label" data-translate="volBetailApp.animal.poids" for="field_poids">Poids</label>
            <input type="number" class="form-control" name="poids" id="field_poids"
                    ng-model="vm.animal.poids"
                    />
        </div>
        <div class="form-group col-md-4">
            <label class="control-label" data-translate="volBetailApp.animal.age" for="field_age">Age</label>
            <input type="number" class="form-control" name="age" id="field_age"
                    ng-model="vm.animal.age"
                    />
        </div>
        
        <div class="switch">
            
            <div class="onoffswitch">
                     <input type="checkbox" name="sexe" ng-model="vm.animal.sexe" id="field_sexe" checked class="onoffswitch-checkbox" id="example1">
                     <label class="onoffswitch-label" data-translate="volBetailApp.animal.sexe" for="field_sexe" >Sexe
                         <span class="onoffswitch-inner" value="M"></span>
                         <span class="onoffswitch-switch" value="F"></span>
                     </label>
                 </div>
          </div>
<!--             <select class="form-control" name="sexe" ng-model="vm.animal.sexe" id="field_sexe"> -->
<!--                 <option value="M" data-translate="volBetailApp.Sexe.M">M</option> -->
<!--                 <option value="F" data-translate="volBetailApp.Sexe.F">F</option> -->
<!--             </select> -->
        </div>
        
        <div class="switch">
                                <div class="onoffswitch">
                                    <input type="checkbox" checked class="onoffswitch-checkbox" id="example1">
                                    <label class="onoffswitch-label" for="example1">
                                        <span  value="M"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                            </div>
        
        
       
          
          <div class="form-group">
                <label class="font-normal" data-translate="volBetailApp.animal.maladies" for="field_maladies">Maladies</label>
                <div>
		                <select   class="chosen-select"  tabindex="4"
				                 ng-options="maladie.nom  for maladie in vm.maladie"
				                 ng-model="vm.animal.maladies"  >
				                 
				           
			
				         
				                
		              </select>
                </div> 
                
          
        </div>
        </div>
        
     
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>

   
    
</form>
 <script>
        
          
        $('.chosen-select').chosen({width: "100%"});


    </script>
  