
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myAnimalLabel" data-translate="volBetailApp.animal.home.createOrEditLabel">Create or edit a Animal</h4>
    </div>
    <div class="modal-body">
    <div class="row">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.animal.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.animal.id" readonly />
        </div>
        <div class="form-group col-md-4">
            <span style="color:red;">*</span>
            <label class="control-label" data-translate="volBetailApp.animal.numero" for="field_numero">Numero</label>
            <input type="text" class="form-control" name="numero" id="field_numero"
                    ng-model="vm.animal.numero"
                    />
            <div ng-show="editForm.numero.$invalid">
                <p class="help-block"
                    ng-show="editForm.numero.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group col-md-4">
            <label class="control-label" data-translate="volBetailApp.animal.couleurRobe" for="field_couleurRobe">Couleur Robe</label>
            <input type="text" class="form-control" name="couleurRobe" id="field_couleurRobe"
                    ng-model="vm.animal.couleurRobe"
                    ng-maxlength="15"/>
            <div ng-show="editForm.couleurRobe.$invalid">
                <p class="help-block"
                    ng-show="editForm.couleurRobe.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="15">
                    This field cannot be longer than 15 characters.
                </p>
            </div>
        </div>
        <div class="form-group col-md-4">
            <label class="control-label" data-translate="volBetailApp.animal.sexe" for="field_sexe">Sexe</label>
            <select class="form-control" name="sexe" ng-model="vm.animal.sexe" id="field_sexe">
                <option value="M" data-translate="volBetailApp.Sexe.M">M</option>
                <option value="F" data-translate="volBetailApp.Sexe.F">F</option>
            </select>
        </div>

        <div class="form-group col-md-4">
            <label class="control-label" data-translate="volBetailApp.animal.taille" for="field_taille">Taille</label>
            <input type="number" class="form-control" name="taille" id="field_taille"
                    ng-model="vm.animal.taille"
                    />
        </div>
        <div class="form-group col-md-4">
            <label class="control-label" data-translate="volBetailApp.animal.poids" for="field_poids">Poids</label>
            <input type="number" class="form-control" name="poids" id="field_poids"
                    ng-model="vm.animal.poids"
                    />
        </div>
        <div class="form-group col-md-4">
            <label class="control-label" data-translate="volBetailApp.animal.age" for="field_age">Age</label>
            <input type="number" class="form-control" name="age" id="field_age"
                    ng-model="vm.animal.age"
                    />
        </div>
        
 
        </div>
       
        
       
          
          <div class="form-group">
                <label class="font-normal" data-translate="volBetailApp.animal.maladies" for="field_maladies">Maladies</label>
                <div>
                    <p>selected item is : {{selectedItem}}</p>
                   <select multiple chosen class="chosen-select"  tabindex="4"  ng-model="selectedItem"
				                 ng-options="maladie.nom  for maladie in vm.maladies" >
				                 
				              				                
		            </select>
                </div> 
                
          
        </div>
         <div class="form-group">
                <label class="font-normal" data-translate="volBetailApp.animal.veterinaires" for="field_veterinaires">Veterinaires</label>
                <div>
		                <select  class="chosen-container chosen-container-single chosen-container-active"  tabindex="4"
				                 ng-options="veterinaire.nom  for veterinaire in vm.veterinaires"
				                 ng-model="vm.animal.veterinaires.numero"  >
				              				                
		              </select>
                </div> 
                
          
        </div>
        <div class="form-group">
                <label class="font-normal" data-translate="volBetailApp.animal.carnetSante" for="field_carnet_sante">Carnet de Sante</label>
                <div>
		                <select    tabindex="4"
				                 ng-options="carnet.numero for carnet in vm.carnetSantes"
				                 ng-model="vm.animal.veterinaires.numero"  >
				              				                
		              </select>
                </div> 
                
          
        </div>
        
         <div class="form-group">
                <label class="font-normal" data-translate="volBetailApp.animal.ficheAnimal" for="field_fiche_animal">Fiche Animal</label>
                <div>
		                <select    tabindex="4"
				                 ng-options="fiche.numero for fiche in vm.carnetSantes"
				                 ng-model="vm.animal.ficheAnimal.numero"  >
				              				                
		              </select>
                </div> 
                
          
        </div>
        <div class="form-group" >
                <label class="font-normal" data-translate="volBetailApp.animal.troupeau" for="field_troupeau">Troupeau</label>
                <div>
		                <select    tabindex="4"
				                 ng-options="troupeau.categorie for troupeau in vm.troupeaux"
				                 ng-model="vm.animal.troupeau.categorie"  >
				              				                
		              </select>
                </div> 
                
          
        </div>
        <div class="form-group">
                <label class="font-normal" data-translate="volBetailApp.animal.positionCourante" for="field_position_courante">Position Courante</label>
                <div>
		                <select    tabindex="4"
				                 ng-options="position.categorie for position in vm.troupeaux"
				                 ng-model="vm.animal.position.categorie">
				              				                
		              </select>
                </div> 
                
          
        </div>
        </div>
        
     
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>

   
    
</form>
 <script>
          
	  $('.chosen-select').chosen({width: "65%"});

       
 </script>
  