
<form name="editForm" role="form" novalidate ng-submit="vm.save()"
	show-validation>

	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"
			aria-hidden="true" ng-click="vm.clear()">&times;</button>
		<h4 class="modal-title" id="myAssureLabel"
			data-translate="mutuplexApp.assure.home.createOrEditLabel">Create
			or edit a Assure</h4>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-lg-12">
				<jhi-alert-error></jhi-alert-error>
				<div class="form-group" ng-show="vm.assure.id">
					<label for="id" data-translate="global.field.id">ID</label> <input
						type="text" class="form-control" id="id" name="id"
						ng-model="vm.assure.id" readonly />
				</div>
				<div class="form-group col-lg-3">
					<label class="control-label"
						data-translate="mutuplexApp.assure.nom" for="field_nom">Nom</label>
					<input type="text" class="form-control" name="nom" id="field_nom"
						ng-model="vm.assure.nom" required />
					<div ng-show="editForm.nom.$invalid">
						<!-- <p class="help-block" ng-show="editForm.nom.$error.required"
							data-translate="entity.validation.required">This field is
							required.</p> -->
					</div>
				</div>
				<div class="form-group col-lg-3">
					<label class="control-label"
						data-translate="mutuplexApp.assure.prenom" for="field_prenom">Prenom</label>
					<input type="text" class="form-control" name="prenom"
						id="field_prenom" ng-model="vm.assure.prenom" required />
					<div ng-show="editForm.prenom.$invalid">
						<!-- <p class="help-block" ng-show="editForm.prenom.$error.required"
							data-translate="entity.validation.required">This field is
							required.</p> -->
					</div>
				</div>
				<div class="form-group col-lg-3">
					<label class="control-label"
						data-translate="mutuplexApp.assure.sexe" for="field_sexe">Sexe</label>
					<input type="text" class="form-control" name="sexe" id="field_sexe"
						ng-model="vm.assure.sexe" />
				</div>
				<div class="form-group col-lg-3">
					<label class="control-label"
						data-translate="mutuplexApp.assure.date_naissance"
						for="field_date_naissance">Date Naissance</label> <input
						type="text" class="form-control" name="date_naissance"
						id="field_date_naissance" ng-model="vm.assure.date_naissance" />
				</div>
				<div class="form-group col-lg-3">
					<label class="control-label"
						data-translate="mutuplexApp.assure.lieu" for="field_lieu">Lieu</label>
					<input type="text" class="form-control" name="lieu" id="field_lieu"	ng-model="vm.assure.lieu" />
				</div>
				<div class="form-group col-lg-3">
					<label class="control-label"
						data-translate="mutuplexApp.assure.email" for="field_email">Email</label>
					<input type="text" class="form-control" name="email" id="field_email" ng-model="vm.assure.email"
						ng-pattern="/^[a-zA-Z0-9]*$/" />
					<div ng-show="editForm.email.$invalid">
						<!-- <p class="help-block" ng-show="editForm.email.$error.pattern"
							data-translate="entity.validation.pattern"
							translate-value-pattern="^[a-zA-Z0-9]*$">This field should
							follow pattern "^[a-zA-Z0-9]*$".</p> -->
					</div>
				</div>
				<div class="form-group col-lg-3">
					<label class="control-label"
						data-translate="mutuplexApp.assure.telF" for="field_telF">Tel
						F</label> 
					<input type="text" class="form-control" name="telF"	id="field_telF" ng-model="vm.assure.telF" />
				</div>
				<div class="form-group col-lg-3">
					<label class="control-label" data-translate="mutuplexApp.assure.telP" for="field_telP">Tel
						P</label> 
						<input type="text" class="form-control" name="telP" id="field_telP" ng-model="vm.assure.telP" />
				</div>
				<div class="form-group col-lg-3">
					<label class="control-label" data-translate="mutuplexApp.assure.matricule"
						for="field_matricule">Matricule</label> 
					<input type="text" class="form-control" name="matricule" id="field_matricule" ng-model="vm.assure.matricule" />
				</div>
				<div class="form-group col-lg-3">
					<label data-translate="mutuplexApp.assure.assure_police"
						for="field_assure_police">Assure Police</label> 
					<select
						class="form-control" id="field_assure_police" name="assure_police"
						ng-model="vm.assure.assure_police"
						ng-options="police as police.raison for police in vm.police track by police.id"
						ng-change="vm.loadgroup()">
						<option value=""></option>
					</select>
				</div>
				<div class="form-group col-lg-3">
					<label data-translate="mutuplexApp.assure.assure_groupe" for="field_assure_groupe">Assure Groupe</label> 
					<select class="form-control chosen-select" id="field_assure_groupe" name="assure_groupe"
						ng-model="vm.assure.assure_groupe" tabindex="2"
						ng-options="groupe as groupe.intitule for groupe in vm.groupes track by groupe.id">
						<option value=""></option>
					</select>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal"	ng-click="vm.clear()">
					<span class="glyphicon glyphicon-ban-circle"></span>&nbsp;
					<span data-translate="entity.action.cancel">Cancel</span>
				</button>
				<button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
					<span class="glyphicon glyphicon-save"></span>&nbsp;<span
						data-translate="entity.action.save">Save</span>
				</button>
			</div>
		</div>
	</div>
</form>
